extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
block main
  .container.my-3
    .row
      .col-12
        +box-head("Kết quả tìm kiếm")
    .row
      if(records.length>0)
        +product-grid(records)
      else
        h3(class='text-center') Sản phẩm không tìm thấy!