.sider
    .inner-menu
        ul
            li
              a(href= prefixAdmin + '/dashboard') Dashboard
            li
              a(href= prefixAdmin + '/products') Product
            li
              a(href= prefixAdmin + '/categories') Category 
            li
              a(href= prefixAdmin + '/roles') Role
            li
              a(href= prefixAdmin + '/roles/permissions') Permission
            li
              a(href= prefixAdmin + '/accounts') Accounts
